body, html { margin: 0; padding: 0; }
* { box-sizing: border-box; }

img { max-width: 100%; }

h1, h2, h3, h4, h5 { font-family: "Andale Mono", AndaleMono, monospace; }
p, small { font-family: Geneva, Tahoma, Verdana, sans-serif; }

.container {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 800px;
}

.paper {
  position: relative;
  margin-bottom: 2em;
  padding: 0.5em;
}

.paper::before {
  content: '';
  background-color: lightyellow;
  border: 1px solid #BBB;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  position: absolute;
  top: -7px;
  left: -7px;
  z-index: -1;
  transform: rotate(-0.5deg);
}

.striped-vertical::before {
  background-image: linear-gradient(to right, rgba(0,100,225,0.1) 1px, transparent 1px);
  background-size: 10px;
}

.striped-diagonal::before {
  background-image: linear-gradient(to bottom right, transparent 0 49%, rgba(0,100,225,0.1) 49% 51%, transparent 51% 100%);
  background-size: 15px 15px;
}

.paper:nth-child(2n)::before {
  transform: rotate(0.5deg);
  background-color: #eff9ff;
}

.card.paper {
  height: 105px;
  width: 105px;
}

.card.paper::before {
  background-color: white;
}

.markov {
  margin: 0 auto;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

@media(min-width: 500px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-grid > div {
  text-align: center;
}

.card-grid > div::before {
  background-color: white;
  border: 1px solid deepskyblue;
}

.card-grid > div:nth-child(2n)::before {
  background-color: white;
  border: 1px solid deeppink;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact > div {
  text-align: center;
}

.contact > div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact .card {
  background-color: white;
  border: 1px solid #EEE;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 1em;
}

.contact .card img {
  width: 40px;
  margin-right: 1em;
  position: relative;
  top: 0.3em;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact a:hover, .contact a:focus {
  color: deeppink;
}

.header-image {
  display: block;
  margin: 0 auto;
}

.title-blue {
  color: deepskyblue;
}

.title-pink {
  color: deeppink;
}

.blog a {
  color: black;
}

.blog a:hover, .blog a:focus {
  color: deeppink;
}

body {
  background-size: 20px 20px;
  background-color: #FEFEFE;
  background-image:
    linear-gradient(to right, #b2daff 1px, transparent 1px),
    linear-gradient(to bottom, #b2daff 1px, transparent 1px);
}
