/*  TEST CLASSES*/
/*div, header, nav, footer {
  border: 1px solid;
  }*/
div:not(.container) {
  min-height: 50px;
  }
.blue {
  background: deepskyblue;
}
.purple {
  background: mediumorchid;
}
.cyan {
  background: cyan;
}
.green {
  background: yellowgreen;
}

.yellow {
  background: yellow;
}
.orange {
  background: orange;
}
.red {
  background: red;
}
.test-height {
  height: 300px;
}
/* END TEST CLASSES*/