/*
 Color reference:
------------------
purple: #a1617a
dark gray: #2e2e2e
yellow-orange: #ffc360
red-brown: #cc7833
light blue: #d0d0ff
light green: #aac973
mid green: #339825;
*/

/* Mobile styles */
body {
  font-family: Anonymous Pro;
  font-size: 18px;
}
header {
  position: fixed;
  width: 100%;
  background: #000;
  z-index: 2;
}
header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0.45em;
  margin: 0em;
}
header ul a {
  text-decoration: none;
  color: #d0d0ff;
  padding: 0.45em;
}
header ul a:hover, header ul li.active a {
  background-color: #333;
  color: #ffc360;
}
header ul a:active {
  background-color: #369;
}

/* ------ General styles ------ */

a {
  color: #ffc360;
}

div.section {
  padding: 0.75em 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25em;
}
h1 {
  font-size: 2em
}
h2 {
  font-size: 1.5em;
}

div.section, div.slide {
  color: #EEE;
  text-align: center;
}

@-webkit-keyframes bounce {
  0%, 100% { bottom: 1.5em;}
  50% { bottom: 2em;}
}
@-moz-keyframes bounce {
  0%, 100% { bottom: 1.5em;}
  50% { bottom: 2em;}
}
@keyframes bounce {
  0%, 100% { bottom: 1.5em;}
  50% { bottom: 2em;}
}

.fp-slidesNav ul li a span {
  background-color: #EEE;
}

/* ------ Section-specific styling ------ */

.down-arrow {
  border-top: 35px solid #2e2e2e;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  width: 0px;
  margin: 0 auto;
}
.home {
  background-image: url('/img/straws.png');
  background-size: cover;
}
.home h1 {
  color: #a1617a;
  font-size: 2.5em;
}

.home h2 {
  font-size: 1.5em;
  color: #d0d0ff;
}
.home .headline {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5em 1em;
  background-color: #2e2e2e;
}
.home .headline p {
  color: #ffc360;
}
.home .directions {
  width: 20%;
  position: absolute;
  left: 40%;
  bottom: 2em;
  -webkit-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

.home .content p, .about .content h2 {
  font-family: Helvetica;
  font-weight: lighter;
  color: #2e2e2e;
  margin: 0.25em;
}

.about .headshot {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-image: url('../img/anna_photo.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.about, .contact {
  background: #339830;
}
.about strong {
  color: #ffc360;
  font-weight: bold;
}
.about .container p {
  font-size: 0.9em;
}



div.section.projects {
  background-color: #663352;
  padding: 0em 1.75em;
}

.projects > .container {
  max-width: 800px;
  padding: 0 1.25em;
  margin: 0 auto;
}
.projects .slide .container {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column
}

.projects .slide .container div {
  box-sizing: border-box;
  padding: 0.125em;
}
.projects .slide .container .display {
  font-size: 0.75em;
}
.projects .slide .container :nth-child(3) {
  border-top: 1px solid;
}

.projects .slide .container .description p {
  font-size: 0.7em;
  margin: 0.125em;
}

.projects .container img {
  max-width: 90%;
  max-height: 100px;
}

.skills {
  background-image: url('/img/straws.png');
  background-size: cover;
}
.skills h1 {
  font-size: 1.5em;
}
.skills h3 {
  color: #a1617a;
  padding-bottom: 0.125em;
  border-bottom: 1px solid;
  font-size: 1em;
}
.skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0.75em;  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.skills ul li {
  font-size: 0.9em;
}
.skills .container {
  padding: 0em 1.5em;
  color: #2e2e2e;
  background-color: #d0d0ff;
}
.skills .summary {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
}
.skills .summary div {
  text-align: center;
  width: 100%;
}


.contact h1 {
  font-size: 1.5em;
}
.contact p {
  margin:0.75em;
}
.contact a {
  color: #ffc360;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}
.contact a:hover {
  color: #FF0;
  text-decoration: underline;
}
.contact .links .fa {
  background-color: #ffc360;
  padding: 0.25em;
  margin: 0;
  border-radius: 5px;
  color: #2e2e2e;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.5)
}

/* Medium Screens */
@media(min-width: 481px) {
  body {
    font-size: 20px;
  }
  div.section {
    padding: 0 2.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.25em;
  }
  h1 {
    font-size: 2em
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  header ul {
    padding: 0.25em;
  }
  header ul a {
    font-size: 1em;
    padding: 0.25em;
  }
  .home h1 {
    font-size: 3.25em;
  }
  .home h2 {
    font-size:2em
  }
  .about .container, .skills .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .about .container .headshot {
    height: 225px;
    width: 225px;
  }
  .about h2 {
    font-size: 2em;
  }
  .about .container p {
    font-size: 1em;
  }
  .projects .slide .container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row
  }
  .projects .slide .container h3 {
    font-size: 2em;
  }
  .projects .slide .container div {
    box-sizing: border-box;
    padding: 0.5em;
  }
  .projects .slide .container .display {
    font-size: 0.75em;
    width: 100%;
  }
  .projects .slide .container .description {
    display: flex;
    align-items: center;
  }

  .projects .container img {
    max-width: 90%;
    max-height: 100px;
  }

  .projects .slide .container h3 {
    font-size: 1.125em;
  }
  .projects .slide .container .description p {
    display: inline;
    font-size: 0.9em;
  }
  .projects .container p,
  .projects .container h4 {
    font-size: 1.25em;
  }
}

/* Large Screens */
@media(min-width: 961px) {
  .about h2 {
    font-size: 2em;
  }
  .about .container p {
    font-size: 1em;
  }
  .about .container .headshot {
    height: 175px;
    width: 175px;
  }
  .home .headline {
    max-width: 900px;
    margin: 0 auto;
  }
  .skills .summary {
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
  }
  .skills .summary div {
    max-width: 33%;
    flex-wrap: wrap;
  }
  .projects .container img {
   max-width: 100%;
   max-height: 300px;
 }
 .projects > .container {
  max-width: 800px;
  padding: 0 1.75em;
  margin: 0 auto;
}
.projects .slide .container {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row
}
.projects .slide .container div {
  box-sizing: border-box;
  padding: 0.5em;
}
.projects .slide .container .display {
  width: 30%;
  font-size: 0.75em;
}
.projects .slide .container .description {
  width: 70%;
  display: flex;
  align-items: center;
}

.projects .container img {
  max-width: 90%;
  max-height: 250px;
}
.projects .slide .container :nth-child(3) {
  border-top: 0;
}
.projects .slide .container .description p {
  display: inline;
  font-size: 1em;
}
.projects .container p {
  font-size: 1em;
}

}